<ion-content>
  <div class="btn_backpage">
    <ion-back-button text="{{ 'common.btn_back' | translate }}" (click)="goToPrevious()" defaultHref="/signup2"></ion-back-button>
  </div>
  <div id="container">
    <div class="logo_img_part">
      <img class="img_earth" src="../../../assets/images/img_earth.png" />
    </div>

    <div class="app_title">
      <strong>PlanetZula</strong>
    </div>

    <div class="signup_title">{{ 'signup.upload_photo' | translate }}</div>
    <form class="signup_form">
      <p>{{ 'signup.label_selphoto' | translate }}</p>

      <div class="signup_choose_photo">
        <ion-button (click)="selectImage()">{{ 'signup.btn_choosephoto' | translate }}</ion-button>
      </div>

      <ion-img (click)="selectImage()" class="signup_photo_uploaded" *ngIf="croppedImagepath.length"
        [src]="croppedImagepath">
      </ion-img>
      <ion-img (click)="selectImage()" class="signup_photo_uploaded" *ngIf="!croppedImagepath.length"
        src="../../assets/default_avatar.png">
      </ion-img>

      <div class="signup_form_buttons">
        <ion-button (click)="goToNext()">{{ 'signup.btn_continue' | translate }}<ion-icon
            name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </div>

    </form>
  </div>
</ion-content>