.btn_backpage {
  height: 40px;
  margin: 10px;
  ion-back-button {
    float: left;
  }
}
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
  transform: translateY(-55%);
  padding: 10px;
  display: contents;

  .logo_img_part {
    .img_earth {
      width: 100px;
      height: 100px;
    }
  }

  .app_title {
    font-family: "Comic Sans MS";
    font-size: 17px;
    line-height: 50px;
    text-align: center;
  }
  strong {
    font-family: "Comic Sans MS";
    font-size: 17px;
    line-height: 50px;
  }

  .signup_title {
    font-family: "Comic Sans MS";
    font-size: 20px;
  }

  .signup_form {
    p {
      font-size: 10px;
    }

    .signup_choose_photo {
      ion-button {
        height: 30px;
        --border-radius: 5px;
      }
    }

    .signup_photo_uploaded {
      width: 200px;
      height: 200px;
      display: inline-block;
    }

    .signup_form_buttons {
      padding-top: 20px;
      ion-button {
        --background: transparent;
        color: black;
      }
    }
  }
}

ion-content ion-toolbar {
  --background: translucent;
}
