<ion-content>
  <div class="btn_backpage">
    <ion-back-button text="{{ 'common.btn_back' | translate }}" defaultHref="/confirm-recovery-code"></ion-back-button>
  </div>
  <div id="container">
    <div class="logo_img_part">
      <img class="img_earth" src="../../../assets/images/img_earth.png" />
    </div>

    <strong>PlanetZula</strong>
    <div class="create-pwd">{{ 'createNewPwd.title' | translate }}</div>

    <form class="create_pwd_form" [formGroup]="createPwdForm" (ngSubmit)="goToNext()">
      <ion-item>
        <!-- <ion-label position="stacked">{{ 'signup.label_pwd' | translate }}</ion-label> -->
        <ion-input type="password" formControlName="password" placeholder="{{ 'signup.label_pwd' | translate }}">
        </ion-input>
      </ion-item>
      <div class="ion-text-left">
        <div>
          <ion-label class="ion-margin ion-padding error-msg" color="danger"
            *ngIf="createPwdForm.controls['password'].hasError('minlength')">
            Must have at least 8 Characters!
          </ion-label>
        </div>
        <div>
          <ion-label class="ion-margin ion-padding error-msg" color="danger"
            *ngIf="createPwdForm.controls['password'].hasError('hasNumber')">
            Must have at least 1 number!
          </ion-label>
        </div>
        <div>
          <ion-label class="ion-margin ion-padding error-msg" color="danger"
            *ngIf="createPwdForm.controls['password'].hasError('hasCapitalCase')">
            Must have at least 1 in Capital Case!
          </ion-label>
        </div>
        <div>
          <ion-label class="ion-margin ion-padding error-msg" color="danger"
            *ngIf="createPwdForm.controls['password'].hasError('hasSmallCase')">
            Must have at least 1 Letter in Small Case!
          </ion-label>
        </div>
      </div>

      <ion-item>
        <ion-input type="password" formControlName="passwordConfirm"
          placeholder="{{ 'signup.label_confirmpwd' | translate }}">
        </ion-input>
      </ion-item>
      <div class="create_pwd_form_buttons">
        <!-- <ion-button (click)="goToNext()" [disabled]="createPwdForm.invalid"> -->
        <ion-button type="submit">
          {{ 'createNewPwd.btn_done' | translate }}<ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </div>
    </form>

    <div class="create-validation">{{ validation != '' ? validation : '' }} </div>
    
  </div>
</ion-content>