.btn_backpage {
    height: 40px;
    margin: 10px;
    ion-back-button {
      float: left;
    }
  }
  #container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 45%;
    transform: translateY(-55%);
    padding: 10px;
  
    .logo_img_part {
      .img_earth {
        width: 100px;
        height: 100px;
      }
    }
  
    strong {
      font-family: "Comic Sans MS";
      font-size: 17px;
      line-height: 50px;
    }

    .create-pwd-containter {
        margin: 10px;
    }

    .create-validation {
        margin-top: 10px;
    }

    .btn-submit {
        margin-top: 10px;
        height: 30px;
    }
  
    .create_pwd_form {
      ion-item {
        --padding-start: 15px;
        --padding-end: 15px;
        --padding-top: 10px;
        margin-left: 15px;
        margin-right: 15px;
      }
  
      .error-msg {
          font-size: 13px;
      }
  
      .create_pwd_form_buttons {
        padding-top: 20px;
        ion-button {
          --background: transparent;
          color: black;
        }
      }
    }
  }
  