<ion-content>
  <div id="container">
    <div class="logo_img_part">
      <img class="img_earth" src="../../../assets/images/img_earth.png" />
    </div>

    <strong>PlanetZula</strong>
    <div class="select_language">
      <p (click)="showBPicker()">{{ 'signup.choose_country' | translate }}</p>
      <ion-label class="lbl_selected_lang">{{appUserClass.travel_country}}</ion-label>
      <p></p>
      <div>
        <ion-button class="btn_continue" (click)="goToLogin()">{{ 'signup.btn_continue' | translate }}<ion-icon
            name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </div>

    </div>
  </div>
</ion-content>