#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 45%;
    transform: translateY(-55%);
    padding:10px;
  
    .logo_img_part {
      .img_earth {
        width: 100px;
        height: 100px;
      }
    }
  
    strong {
      font-family: 'Comic Sans MS';
      font-size: 20px;
      line-height: 50px;
    }
  
    .select_language {
      p{
        font-size: 10px;
        line-height: 50px;
      }
  
      .btn_continue{
        --background: transparent;
        color:black;
      }
    }
  
  }
  
  ion-content ion-toolbar {
    --background: translucent;
  }