<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="{{'common.btn_back' | translate}}" defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ 'why.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div [innerHTML]="whycontent[currentLang]">
  </div>
</ion-content>