<ion-content>
  <div class="btn_backpage">
    <ion-back-button text="{{ 'common.btn_back' | translate }}" defaultHref="/login"></ion-back-button>
  </div>
  <div id="container">
    <div class="logo_img_part">
      <img class="img_earth" src="../../../assets/images/img_earth.png" />
    </div>

    <strong>PlanetZula</strong>
    <div class="signup_title">{{ 'signup.title' | translate }}</div>
    <form class="signup_form" [formGroup]="signupForm" (ngSubmit)="goToNext()">
      <ion-item>
        <ion-input type="email" formControlName="email" placeholder="{{ 'signup.label_email' | translate }}">
        </ion-input>
      </ion-item>
      <div class="ion-text-left">
        <ion-label class="ion-margin ion-padding error-msg" color="danger"
          *ngIf="signupForm.controls['email'].hasError('email')">
          {{ 'signup.lbl_valid_email' | translate }}
        </ion-label>
      </div>
      <ion-item>
        <!-- <ion-label position="stacked">{{ 'signup.label_pwd' | translate }}</ion-label> -->
        <ion-input type="password" formControlName="password" placeholder="{{ 'signup.label_pwd' | translate }}">
        </ion-input>
      </ion-item>
      <div class="ion-text-left">
        <div>
          <ion-label class="ion-margin ion-padding error-msg" color="danger"
            *ngIf="signupForm.controls['password'].hasError('minlength')">
            {{ 'signup.label_least8character' | translate }}
          </ion-label>
        </div>
        <div>
          <ion-label class="ion-margin ion-padding error-msg" color="danger"
            *ngIf="signupForm.controls['password'].hasError('hasNumber')">
            {{ 'signup.label_least1number' | translate }}
          </ion-label>
        </div>
        <div>
          <ion-label class="ion-margin ion-padding error-msg" color="danger"
            *ngIf="signupForm.controls['password'].hasError('hasCapitalCase')">
            {{ 'signup.label_least1capital' | translate }}
          </ion-label>
        </div>
        <div>
          <ion-label class="ion-margin ion-padding error-msg" color="danger"
            *ngIf="signupForm.controls['password'].hasError('hasSmallCase')">
            {{ 'signup.label_least1small' | translate }}
          </ion-label>
        </div>
      </div>

      <ion-item>
        <ion-input type="password" formControlName="passwordConfirm"
          placeholder="{{ 'signup.label_confirmpwd' | translate }}">
        </ion-input>
      </ion-item>
      <div class="signup_form_buttons">
        <!-- <ion-button (click)="goToNext()" [disabled]="signupForm.invalid"> -->
        <ion-button type="submit">
          {{ 'signup.btn_continue' | translate }}<ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </div>

    </form>
  </div>
</ion-content>