<ion-content>
  <div id="container">
    <div class="logo_img_part">
      <img class="img_earth" src="../../assets/images/img_earth.png" />
    </div>

    <strong>PlanetZula</strong>
    <div class="login_title">{{ 'login.title' | translate }}</div>

    <div class="login_form">
      <ion-item>
        <ion-input type="email" [(ngModel)]="uName" placeholder="{{ 'login.label_email' | translate }}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" [(ngModel)]="uPwd" placeholder="{{ 'login.label_pwd' | translate }}"></ion-input>
      </ion-item>

      <div class="login_form_forgotpwd">
        <a (click)="forgotPassword()">{{ 'login.btn_forget_pwd' | translate }}</a>
      </div>

      <div class="login_validation">{{ validation != '' ? validation : '' }} </div>

      <div class="login_form_buttons">
        <ion-button (click)="goToSignUp()">{{ 'login.btn_new_user' | translate }}<ion-icon
            name="chevron-forward-outline"></ion-icon>
        </ion-button>
        <ion-button [disabled]="!uName || !uPwd" (click)="userlogin()">{{ 'login.btn_login' | translate }}<ion-icon name="chevron-forward-outline">
          </ion-icon>
        </ion-button>
      </div>

    </div>
  </div>
</ion-content>