#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 45%;
    transform: translateY(-55%);
    padding: 10px;
  
    .logo_img_part {
      .img_earth {
        width: 100px;
        height: 100px;
      }
    }
  
    strong {
      font-family: 'Comic Sans MS';
      font-size: 17px;
      line-height: 50px;
    }

    .login_title {
        font-family: 'Comic Sans MS';
        font-size: 20px;
    }
  
    .login_form {
        ion-item {
          --padding-start: 15px;
          --padding-end: 15px;
          --padding-top: 10px;
          margin-left:15px;
          margin-right:15px;
        }

        .login_form_forgotpwd {
            padding: 20px;
            font-size: 15px;
        }

        .login_validation {
          font-size: 12px;
          color:red;
        }

        .login_form_buttons {
            ion-button {
                --background:transparent;
                color:black;
                padding-right: 10px;
                padding-left: 10px;
            }
        }
    }
  
  }
  
  ion-content ion-toolbar {
    --background: translucent;
  }