<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="globe"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="handleSetLanguage()">
        <ion-icon name="language"></ion-icon>
      </ion-button>
      <ion-menu-button (click)="handleSettingButton($event)" auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div_rh_container">
    <form class="signup_form" [formGroup]="reviewForm">
      <div class="btn_backpage">
        <ion-back-button text="{{ 'common.btn_back' | translate }}" defaultHref="/gmap"></ion-back-button>
      </div>

      <div class="lbl_rh_title">
        <ion-label>{{ 'reviewhost.title' | translate }}</ion-label>
      </div>

      <div class="lbl_rh_subtitle">
        <ion-label>Reviews are anonymous and won’t show until there are at least 5 other reviews.</ion-label>
      </div>

      <rating class="review_host_star" [readonly]="false" formControlName="rate" readonly="false" size="default" (rateChange)="onRateChange($event)">
      </rating>

      <div class="div_tell_experience">
        <ion-label *ngIf="selectedHostMarker && selectedHostMarker.name">{{selectedHostMarker.name}}</ion-label>
      </div>

      <div class="div_comments">
        <ion-label>{{ 'reviewhost.label_comments' | translate }}</ion-label>
        <ion-textarea rows="8" formControlName="comment"></ion-textarea>
      </div>

      <div class="btn_rh_submit">
        <ion-button (click)="addNewReview()" [disabled]="reviewForm.invalid">
          {{ 'common.btn_submit' | translate }}<ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>