<ion-content>
  <div class="btn_backpage" *ngIf="currentTravelCountry">
    <ion-back-button text="{{ 'common.btn_back' | translate }}" defaultHref="/gmap"></ion-back-button>
  </div>
  <div id="container">
    <div class="logo_img_part">
      <img class="img_earth" src="../../../assets/images/img_earth.png" />
    </div>

    <form [formGroup]="countryForm">
      <strong>PlanetZula</strong>
      <div class="select_language">
        <p (click)="openCountry()">{{ 'signup.choose_country' | translate }}</p>

        <ion-label (click)="openCountry()">{{countryForm.controls['country'].value}}</ion-label>

        <div class="select-lang-part" style="display: none;">
          <ion-select #countrySelect formControlName="country" (ionChange)="changeCountry($event)">
            <ion-select-option *ngFor="let item of countrylist" value={{item.text}}>
              {{item.text}}
            </ion-select-option>
          </ion-select>
        </div>

        <p></p>

        <div>
          <ion-button [disabled]="!currentTravelCountry || !currentTravelCountry.text" class="btn_continue"
            (click)="goGmap()">
            {{ 'signup.btn_continue' | translate }}<ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </div>

      </div>
    </form>
  </div>
</ion-content>