<ion-content>
  <div class="btn_backpage">
    <ion-back-button text="{{ 'common.btn_back' | translate }}" (click)="goToPrevious()" defaultHref="/signup"></ion-back-button>
  </div>
  <div id="container">

    <div class="logo_img_part">
      <img class="img_earth" src="../../../assets/images/img_earth.png" />
    </div>

    <div class="app_title">
      <strong>PlanetZula</strong>
    </div>

    <div class="signup_title">{{ 'signup.title' | translate }}</div>

    <form class="signup_form" [formGroup]="signupForm" (ngSubmit)="goToNext()">
      <ion-item>
        <ion-input type="text" formControlName="first_name" placeholder="{{ 'signup.label_firstname' | translate }}">
        </ion-input>
      </ion-item>
      <div class="ion-text-left">
        <ion-label class="ion-margin ion-padding error-msg" color="danger"
          *ngIf="signupForm.controls['first_name'].hasError('required')">
          {{ 'signup.lbl_valid_firstname' | translate }}
        </ion-label>
      </div>

      <ion-item>
        <ion-input type="text" formControlName="last_name" placeholder="{{ 'signup.label_lastname' | translate }}">
        </ion-input>
      </ion-item>
      <div class="ion-text-left">
        <ion-label class="ion-margin ion-padding error-msg" color="danger"
          *ngIf="signupForm.controls['last_name'].hasError('required')">
          {{ 'signup.lbl_valid_lastname' | translate }}
        </ion-label>
      </div>

      <ion-item>
        <ion-input type="text" formControlName="phone_number" placeholder="{{ 'signup.label_phonenum' | translate }}">
        </ion-input>
      </ion-item>
      <div class="ion-text-left">
        <ion-label class="ion-margin ion-padding error-msg" color="danger"
          *ngIf="signupForm.controls['phone_number'].hasError('required')">
          {{ 'signup.lbl_valid_phonenum' | translate }}
        </ion-label>
      </div>

      <ion-item>
        <ion-input type="text" formControlName="whatsapp_number"
          placeholder="{{ 'signup.label_whatsapp' | translate }}"></ion-input>
      </ion-item>
      <div class="ion-text-left">
        <ion-label class="ion-margin ion-padding error-msg" color="danger"
          *ngIf="signupForm.controls['whatsapp_number'].hasError('required')">
          {{ 'signup.lbl_valid_whatsapp' | translate }}
        </ion-label>
      </div>

      <ion-item>
        <ion-input type="text" formControlName="address" placeholder="{{ 'signup.label_address' | translate }}">
        </ion-input>
      </ion-item>
      <div class="ion-text-left">
        <ion-label class="ion-margin ion-padding error-msg" color="danger"
          *ngIf="signupForm.controls['address'].hasError('required')">
          {{ 'signup.lbl_valid_address' | translate }}
        </ion-label>
      </div>

      <ion-item>
        <ion-input type="text" formControlName="address2" placeholder="{{ 'signup.label_address2' | translate }}">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="text" formControlName="city" placeholder="{{ 'signup.label_city' | translate }}"></ion-input>
      </ion-item>
      <div class="ion-text-left">
        <ion-label class="ion-margin ion-padding error-msg" color="danger"
          *ngIf="signupForm.controls['city'].hasError('required')">
          {{ 'signup.lbl_valid_city' | translate }}
        </ion-label>
      </div>

      <ion-item>
        <ion-input type="text" formControlName="state" placeholder="{{ 'signup.label_state' | translate }}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="text" formControlName="postal_code" placeholder="{{ 'signup.label_pcode' | translate }}">
        </ion-input>
      </ion-item>
      <div class="ion-text-left">
        <ion-label class="ion-margin ion-padding error-msg" color="danger"
          *ngIf="signupForm.controls['postal_code'].hasError('required')">
          {{ 'signup.lbl_valid_pcode' | translate }}
        </ion-label>
      </div>

      <ion-item class="sel-country" lines="none">
        <ion-select value='country' placeholder="{{ 'signup.sel_country' | translate }}" formControlName="country">
          <ion-select-option *ngFor="let country of countries" (value)="country">{{country}}</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="ion-text-left">
        <ion-label class="ion-margin ion-padding error-msg" color="danger"
          *ngIf="signupForm.controls['country'].hasError('required')">
          {{ 'signup.lbl_valid_country' | translate }}
        </ion-label>
      </div>

      <div class="signup_form_buttons">
        <ion-button type="submit">
          <!-- <ion-button (click)="goToNext()"> -->
          {{ 'signup.btn_continue' | translate }}<ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </div>

    </form>
  </div>
</ion-content>