.btn_backpage {
  height: 40px;
  margin: 10px;
  ion-back-button {
    float: left;
  }
}
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
  transform: translateY(-55%);
  padding: 10px;
  display: contents;

  .logo_img_part {
    padding-top: 50px;
    .img_earth {
      width: 100px;
      height: 100px;
    }
  }

  .app_title {
    font-family: "Comic Sans MS";
    font-size: 17px;
    line-height: 50px;
    text-align: center;
  }

  .signup_title {
    font-family: "Comic Sans MS";
    font-size: 20px;
  }

  .signup_form {
    ion-item {
      --padding-start: 15px;
      --padding-end: 15px;
      --padding-top: 10px;
      margin-left: 15px;
      margin-right: 15px;
    }

    .error-msg {
      font-size: 13px;
    }
    .sel-country {
      ion-select {
        min-width: 100%;
        border: 1px solid #aaa;
      }
    }

    .signup_form_buttons {
      padding-top: 20px;
      padding-bottom: 30px;
      ion-button {
        --background: transparent;
        color: black;
      }
    }
  }
}

ion-content ion-toolbar {
  --background: translucent;
}
