<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToMap()">
        <ion-icon name="globe"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="handleSetLanguage()">
        <ion-icon name="language"></ion-icon>
      </ion-button>
      <ion-menu-button (click)="handleSettingButton($event)" auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="info_container">

    <div class="rate_info_stars_container">

      <ion-back-button text="{{ 'common.btn_back' | translate }}" (click)="goToMap()" defaultHref="/gmap"></ion-back-button>
      <div class="rate_info_stars_part">
        <label class="rate_info_stars_label" *ngIf="count_reviews >= 5 && stars !== 0">{{stars}}</label>
        <rating class="rate_info_stars" [(ngModel)]="stars" readonly="true" size="default" (click)="viewReviews()">
      </rating></div>
    </div>

    <div class="img_info_photo">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngIf="selectedHostMarker.image1">
          <ion-img [src]="selectedHostMarker.image1"></ion-img>
        </ion-slide>
        <ion-slide *ngIf="selectedHostMarker.image2">
          <ion-img [src]="selectedHostMarker.image2"></ion-img>
        </ion-slide>
        <ion-slide *ngIf="selectedHostMarker.image3">
          <ion-img [src]="selectedHostMarker.image3"></ion-img>
        </ion-slide>
        <ion-slide *ngIf="selectedHostMarker.image4">
          <ion-img [src]="selectedHostMarker.image4"></ion-img>
        </ion-slide>
        <ion-slide *ngIf="selectedHostMarker.image5">
          <ion-img [src]="selectedHostMarker.image5"></ion-img>
        </ion-slide>
      </ion-slides>
    </div>

    <div class="lbl_info_title">
      <ion-label *ngIf="selectedHostMarker">{{selectedHostMarker.name}}</ion-label>
    </div>

    <div class="lbl_info_content">
      <ion-label *ngIf="selectedHostMarker">{{selectedHostMarker.bio}}</ion-label>
    </div>

    <div class="bed_num_part">
      <ion-label class="lbl_info_items">{{ 'gmapmodal.lbl_bedsnum' | translate }}</ion-label>
      <ion-label class="number_beds">{{list_res.number_of_beds}}</ion-label>
    </div>
    
    <div class="bed_config_part">
      <ion-label class="lbl_info_items">{{ 'gmapmodal.lbl_bedconfig' | translate }}</ion-label>
      <ion-label class="bed_config">{{list_res.bed_configure}}</ion-label>
    </div>

    <ion-label class="lbl_info_items">{{ 'gmapmodal.facility' | translate }}</ion-label>
    <div class="div_info_checkboxs">
      <ion-list mode="md">
        <div *ngFor="let option of options;">
            <ion-label>{{option[currentLang]}}</ion-label>
        </div>
      </ion-list>
    </div>

    <ion-label class="lbl_info_items">{{ 'gmapmodal.rule' | translate }}</ion-label>
    <div class="div_info_checkboxs">
      <ion-list mode="md">
        <div *ngFor="let rule of rules;">
            <ion-label>{{rule[currentLang]}}</ion-label>
        </div>
      </ion-list>
    </div>

    <ion-list *ngIf="selectedHostMarker && selectedHostMarker.primary_contact">
      <ion-list-header>
        <ion-label class="contact-item-label">{{ 'gmapmodal.primary_contact' | translate }}({{selectedHostMarker.primary_contact_option}})</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label class="contact-item-addr">{{selectedHostMarker.primary_contact}}</ion-label>
        <ion-button (click)="onContactHost()">
          {{ 'gmapmodal.btn_contacthost' | translate }}<ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="selectedHostMarker && selectedHostMarker.secondary_contact">
      <ion-list-header>
        <ion-label class="contact-item-label">{{ 'gmapmodal.second_contact' | translate }}({{selectedHostMarker.secondary_contact_option}})</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label class="contact-item-addr-o">{{selectedHostMarker.secondary_contact}}</ion-label>
      </ion-item>
    </ion-list>


    <div class="btns_info_hosts">
      <ion-button (click)="goToReviewHost()">{{ 'gmapmodal.btn_review' | translate }}</ion-button>
    </div>
  </div>
</ion-content>