.info_container {
  padding: 10px;

  .rate_info_stars_container {
    display: flex;
    place-content: space-between;
    padding-bottom: 10px;
    .rate_info_stars_part {
      display: flex;
      align-items: center;
      .rate_info_stars_label {
        margin-right: 10px;
        padding-top: 10px;
        color:#aeaeae;
        font-size: 12px;
      }
    }
  }

  .img_info_photo {
    ion-img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      height: 50vh;
    }
  }

  .lbl_info_title {
    padding-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .lbl_info_content {
    padding-top: 20px;
    font-size: 13px;
    text-align: center;
    padding-bottom: 10px;
  }

  .lbl_info_items {
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }

  .bed_num_part, .bed_config_part {
    margin-bottom: 20px;
  }

  .bed_config, .number_beds {
    padding-top:10px;
    justify-content: center;
    display:flex;
  }

  .div_info_checkboxs {
    width: 100%;
    align-content: space-between;
    display: flex;
    padding-bottom: 10px;
    ion-list {
      width: 100%;
      div {
        display:flex;
        justify-content: center;
        ion-label {
          font-size: 15px;
        }
      }
    }
  }

  .lbl_info_phonenum {
    font-size: 13px;
    text-align: center;
  }

  .btn_info_contact_host {
    padding-top: 20px;
    text-align: center;

    ion-button {
      width: 50%;
      height: 30px;
      font-size: 13px;
    }
  }

  .btns_info_hosts {
    padding-top: 10px;
    text-align: center;
    ion-button {
      font-size: 13px;
      width: 50%;
      height: 30px;
      // padding-right: 5px;
      // padding-left: 5px;
    }
  }

  .contact-item-label {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
  }

  .contact-item-addr {
    font-size: 13px;
  }

  .contact-item-addr-o {
    font-size: 13px;
    text-align: center;
  }

  .check_container1, .check_container2 {
    width: 50%;
  }
}
