.div_rh_container {
  padding: 10px;

  .btn_backpage {
    height: 40px;
    ion-back-button {
      float: left;
    }
  }

  .lbl_rh_title {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
  }

  .lbl_rh_subtitle {
    padding-top: 20px;
    font-size: 15px;
    text-align: center;
  }

  .lbl_rh_content {
    padding-top: 10px;
    padding-bottom: 10px;
    // font-size:13px;
    text-align: center;
  }

  .div_prefer_method {
    padding-top: 20px;
    font-size: 13px;
    text-align: center;
    ion-select {
      text-align: left;
      width: 70%;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid #aaa;
    }
  }

  .div_tell_experience {
    padding-top: 20px;
    // font-size:13px;
    // text-align: center;
    ion-select {
      text-align: left;
      width: 60%;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid #aaa;
    }
  }

  .div_comments {
    padding-top: 20px;
    // font-size: 13px;
    // text-align: center;
    ion-textarea {
      // margin-left: auto;
      // margin-right: auto;
      // text-align: left !important;
      border: 1px solid #aaa;
      // width:80%;
    }
  }

  .btn_rh_submit {
    padding-top: 20px;
    text-align: center;
    ion-button {
      width: 50%;
      height: 30px;
    }
  }
}
