<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToMap()">
        <ion-icon name="globe"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="handleSetLanguage()">
        <ion-icon name="language"></ion-icon>
      </ion-button>
      <ion-menu-button (click)="handleSettingButton($event)" auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div_rh_container">

    <form class="signup_form" [formGroup]="reportForm">
      <div class="btn_backpage">
        <ion-back-button text="{{ 'common.btn_back' | translate }}" defaultHref="/gmap"></ion-back-button>
      </div>

      <div class="lbl_rh_title">
        <ion-label>{{ 'reporthost.title' | translate }}</ion-label>
      </div>

      <!-- <div class="lbl_rh_subtitle">
        <ion-label>Mikael ...</ion-label>
      </div> -->

      <div class="lbl_rh_content">
        <ion-label>
          {{ 'reporthost.label_desc' | translate }}
        </ion-label>
      </div>

      <ion-item lines="none">
        <ion-label>{{ 'reporthost.label_contactme' | translate }}</ion-label>
        <ion-toggle formControlName="contact_me" slot="end" color="primary"></ion-toggle>
      </ion-item>

      <div class="div_comments ion-margin">
        <ion-label>{{ 'reporthost.label_comments' | translate }}</ion-label>
        <ion-textarea rows="8" formControlName="message"></ion-textarea>
      </div>

      <div class="btn_rh_submit">
        <ion-button (click)="addNewReport()" [disabled]="reportForm.invalid">
          {{ 'common.btn_submit' | translate }}<ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>