<ion-content>
  <div class="btn_backpage" *ngIf="currentAppUser">
    <ion-back-button text="{{ 'common.btn_back' | translate }}" defaultHref="/gmap"></ion-back-button>
  </div>
  <div id="container">
    <div class="logo_img_part">
      <img class="img_earth" src="../../assets/images/img_earth.png" />
    </div>
    <form [formGroup]="languageForm">
      <strong>PlanetZula</strong>
      <div class="select_language">
        <p (click)="openLanguage()">{{ 'selLang.title' | translate }}</p>

        <div class="select-lang-part">
          <ion-select #langSelect formControlName="lang" (ngModelChange)="changeLanguage($event)">
            <ion-select-option *ngFor="let item of sel_lang" value={{item.value}}>
              {{item.text}}
            </ion-select-option>
          </ion-select>
        </div>

        <p></p>

        <div>
          <ion-button [disabled]="!current_lang || !current_lang.text" class="btn_continue" (click)="goToLogin()">
            {{ 'common.btn_continue' | translate }}
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
    </form>

  </div>
</ion-content>