.btn_backpage {
    height: 40px;
    margin: 10px;
    ion-back-button {
      float: left;
    }
  }
  #container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 45%;
    transform: translateY(-55%);
    padding: 10px;
  
    .logo_img_part {
      .img_earth {
        width: 100px;
        height: 100px;
      }
    }
  
    strong {
      font-family: "Comic Sans MS";
      font-size: 17px;
      line-height: 50px;
    }

    .recovery-code-containter {
        margin: 10px;
    }

    .recovery-code-validation {
        margin-top: 10px;
        font-size: 12px;
        color:red;
    }

    .btn-submit {
        margin-top: 10px;
        height: 30px;
    }
  
    
  }
  