<ion-content>
  <div class="btn_backpage">
    <ion-back-button text="{{ 'common.btn_back' | translate }}" defaultHref="/forgot-password"></ion-back-button>
  </div>
  <div id="container">
    <div class="logo_img_part">
      <img class="img_earth" src="../../../assets/images/img_earth.png" />
    </div>

    <strong>PlanetZula</strong>
    <div class="recovery-code">{{ 'recoveryCode.title' | translate }}</div>

    <div class="recovery-code-containter">
      <ion-item>
        <ion-input type="number" [(ngModel)]="uRecoveryCode" placeholder="{{ 'recoveryCode.label_recovery_code' | translate }}"></ion-input>
      </ion-item>

      <div class="recovery-code-validation">{{ validation != '' ? validation : '' }} </div>

      <ion-button class="btn-submit" [disabled]="!uRecoveryCode" (click)="gotoNewPwd()">{{ 'common.btn_continue' | translate }}<ion-icon name="chevron-forward-outline">
        </ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>