<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/gmapinfo-modal"></ion-back-button>
    </ion-buttons>
    <ion-title>Reviews</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let review of reviews">
      <ion-avatar slot="start">
        <img *ngIf="review.photo" [src]="review.photo" />
        <img *ngIf="!review.photo" src="../../assets/default_avatar.png" />
      </ion-avatar>
      <ion-label>
        <h2>
          <rating class="rate_info_stars" [(ngModel)]="review.rate" readonly="true" size="default"></rating>
        </h2>
        <!-- <h3>{{review.first_name}} {{review.last_name}}</h3> -->
        <p>{{review.comment}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>