.sel-country {
  .country-select {
    border-bottom: 1px solid #c8c7cc;
    min-width: 100%;
    --padding-start: 0px;
  }
}
.img_pf_photo {
  width: 50%;
  margin: auto;
}
.error-msg {
  font-size: 12px;
}
