<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="{{'common.btn_back' | translate}}" defaultHref="/gmap"></ion-back-button>
    </ion-buttons>

    <ion-title>{{'myprofile.edit_profile' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container" class="ion-padding">
    <!-- <div class="ion-text-center">Edit Profile</div> -->

    <form class="signup_form" [formGroup]="passwordForm">
      <ion-list>
        <ion-list-header>
          <ion-label>{{'myprofile.label_change_photo' | translate}}</ion-label>
          <ion-button (click)="savePhoto()" [disabled]="!croppedImagepath">{{'myprofile.btn_save' | translate}}</ion-button>
        </ion-list-header>
        <ion-item lines="none">
          <div class="img_pf_photo" *ngIf="!croppedImagepath">
            <ion-img (click)="selectImage()" *ngIf="currentAppUser.photo" [src]="currentAppUser.photo | filterImage">
            <!-- <ion-img (click)="selectImage()" *ngIf="currentAppUser.photo" [src]="currentAppUser.photo"> -->
            </ion-img>
            <ion-img (click)="selectImage()" *ngIf="!currentAppUser.photo" src="../../assets/default_avatar.png">
            </ion-img>
          </div>
          <div class="img_pf_photo" *ngIf="croppedImagepath">
            <ion-img (click)="selectImage()" [src]="croppedImagepath">
            </ion-img>
          </div>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-list-header>
          <ion-label class="font-size-16">{{'myprofile.label_changepwd' | translate}}</ion-label>
          <ion-button (click)="changePassword()" [disabled]="passwordForm.invalid">{{'myprofile.label_update' | translate}}</ion-button>
        </ion-list-header>

        <ion-item>
          <ion-label position="floating">{{'myprofile.label_pwd' | translate}}</ion-label>
          <ion-input type="password" formControlName="password" placeholder="{{ 'signup.label_pwd' | translate }}">
          </ion-input>
        </ion-item>
        <div class="ion-text-left">
          <div>
            <ion-label class="ion-margin ion-padding error-msg" color="danger"
              *ngIf="passwordForm.controls['password'].hasError('minlength')">
              {{'myprofile.label_least8character' | translate}}
            </ion-label>
          </div>
          <div>
            <ion-label class="ion-margin ion-padding error-msg" color="danger"
              *ngIf="passwordForm.controls['password'].hasError('hasNumber')">
              {{'myprofile.label_least1number' | translate}}
            </ion-label>
          </div>
          <div>
            <ion-label class="ion-margin ion-padding error-msg" color="danger"
              *ngIf="passwordForm.controls['password'].hasError('hasCapitalCase')">
              {{'myprofile.label_least1capital' | translate}}
            </ion-label>
          </div>
          <div>
            <ion-label class="ion-margin ion-padding error-msg" color="danger"
              *ngIf="passwordForm.controls['password'].hasError('hasSmallCase')">
              {{'myprofile.label_least1small' | translate}}
            </ion-label>
          </div>
        </div>
        <ion-item>
          <ion-label position="floating">{{'myprofile.label_confirmpwd' | translate}}</ion-label>
          <ion-input type="password" formControlName="passwordConfirm"
            placeholder="{{ 'signup.label_confirmpwd' | translate }}">
          </ion-input>
        </ion-item>
      </ion-list>
    </form>

    <form class="signup_form" [formGroup]="basisProfileForm">
      <ion-list>
        <ion-list-header>
          <ion-label class="font-size-16">{{'myprofile.label_change_profile' | translate}}</ion-label>
          <ion-button (click)="updateProfile()" [disabled]="basisProfileForm.invalid">{{'myprofile.label_update' | translate}}</ion-button>
        </ion-list-header>
        <ion-item>
          <ion-label position="floating">{{'myprofile.label_email' | translate}}</ion-label>
          <ion-input type="email" formControlName="email" placeholder="{{ 'signup.label_email' | translate }}">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{'myprofile.label_firstname' | translate}}</ion-label>
          <ion-input type="text" formControlName="first_name" placeholder="{{ 'signup.label_firstname' | translate }}">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{'myprofile.label_lastname' | translate}}</ion-label>
          <ion-input type="text" formControlName="last_name" placeholder="{{ 'signup.label_lastname' | translate }}">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{'myprofile.label_phonenum' | translate}}</ion-label>
          <ion-input type="text" formControlName="phone_number" placeholder="{{ 'signup.label_phonenum' | translate }}">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{'myprofile.label_whatsapp' | translate}}</ion-label>
          <ion-input type="text" formControlName="whatsapp_number"
            placeholder="{{ 'signup.label_whatsapp' | translate }}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{'myprofile.label_address' | translate}}</ion-label>
          <ion-input type="text" formControlName="address" placeholder="{{ 'signup.label_address' | translate }}">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{'myprofile.label_address2' | translate}}</ion-label>
          <ion-input type="text" formControlName="address2" placeholder="{{ 'signup.label_address2' | translate }}">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{'myprofile.label_city' | translate}}</ion-label>
          <ion-input type="text" formControlName="city" placeholder="{{ 'signup.label_city' | translate }}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{'myprofile.label_state' | translate}}</ion-label>
          <ion-input type="text" formControlName="state" placeholder="{{ 'signup.label_state' | translate }}">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{'myprofile.label_pcode' | translate}}</ion-label>
          <ion-input type="text" formControlName="postal_code" placeholder="{{ 'signup.label_pcode' | translate }}">
          </ion-input>
        </ion-item>

        <ion-item class="sel-country" lines="none">
          <ion-label position="floating">{{'myprofile.label_country' | translate}}</ion-label>
          <ion-select class="country-select" placeholder="{{ 'signup.sel_country' | translate }}"
            formControlName="country">
            <ion-select-option *ngFor="let country of countries" (value)="country">{{country}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </form>
  </div>
</ion-content>