<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="refreshPage()">
        <ion-icon name="globe"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="handleSetLanguage()">
        <ion-icon name="language"></ion-icon>
      </ion-button>
      <ion-menu-button (click)="handleSettingButton($event)" auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #mapElement class="map"></div>
</ion-content>