<ion-list>
  <ion-item (click)="goToProfile()">
    <ion-label>{{ 'notify.item_myprofile' | translate }}</ion-label>
  </ion-item>
  <ion-item (click)="changeCountry()">
    <ion-label>{{ 'notify.item_changecountry' | translate }}</ion-label>
  </ion-item>
  <ion-item (click)="haveProblem()">
    <ion-label>{{ 'notify.item_have_problem' | translate }}</ion-label>
  </ion-item>
  <ion-item (click)="getReason()">
    <ion-label>{{ 'notify.item_why' | translate }}</ion-label>
  </ion-item>
  <ion-item (click)="goToSignin()">
    <ion-label>{{ 'notify.item_logout' | translate }}</ion-label>
  </ion-item>
</ion-list>