<ion-content>
  <div class="btn_backpage">
    <ion-back-button text="{{ 'common.btn_back' | translate }}" defaultHref="/login"></ion-back-button>
  </div>
  <div id="container">
    <div class="logo_img_part">
      <img class="img_earth" src="../../../assets/images/img_earth.png" />
    </div>

    <strong>PlanetZula</strong>
    <div class="forgot-pwd">{{ 'forgotPwd.title' | translate }}</div>

    <div class="forgot-pwd-containter">
      <ion-item>
        <ion-input type="email" [(ngModel)]="uEmail" placeholder="{{ 'forgotPwd.label_email' | translate }}"></ion-input>
      </ion-item>

      <div class="forgot-validation">{{ validation != '' ? validation : '' }} </div>

      <ion-button class="btn-submit" [disabled]="!uEmail" (click)="checkEmail()">{{ 'common.btn_continue' | translate }}<ion-icon name="chevron-forward-outline">
        </ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>