
<ion-content>
  <div id="container">
    <div class="logo_img_part">
      <img class="img_earth" src="../../assets/images/img_earth.png" />
    </div>
    
    <strong>PlanetZula</strong>
    <div class="loading_app">
      <p>{{ 'home.text' | translate }}</p>
    </div>
  </div>
</ion-content>
