#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
  transform: translateY(-55%);

  .logo_img_part {
    .img_earth {
      width: 100px;
      height: 100px;
    }
  }

  strong {
    font-family: 'Comic Sans MS';
    font-size: 20px;
    line-height: 50px;
  }

  .loading_app {
    p{
      font-size: 10px;
      line-height: 50px;
    }
  }

}

ion-content ion-toolbar {
  --background: translucent;
}