<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToMap()">
        <ion-icon name="globe"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="handleSetLanguage()">
        <ion-icon name="language"></ion-icon>
      </ion-button>
      <ion-menu-button (click)="handleSettingButton($event)" auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="pf_container">

    <div class="btn_backpage">
      <ion-back-button text="{{ 'common.btn_back' | translate }}" (click)="goToMap()" defaultHref="/gmap"></ion-back-button>
    </div>

    <div class="lbl_pf_title">
      <ion-label>{{ 'myprofile.title' | translate }}</ion-label>
    </div>

    <div class="img_pf_photo">
      <ion-img class="signup_photo_uploaded" *ngIf="currentAppUser.photo" [src]="currentAppUser.photo | filterImage">
      </ion-img>
      <ion-img class="signup_photo_uploaded" *ngIf="!currentAppUser.photo" src="../../assets/default_avatar.png">
      </ion-img>
    </div>

    <ion-list>
      <ion-item>
        <ion-label>{{'myprofile.label_firstname' | translate}}</ion-label>
        <ion-label class="ion-text-right">{{currentAppUser.first_name}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{'myprofile.label_lastname' | translate}}</ion-label>
        <ion-label class="ion-text-right">{{currentAppUser.last_name}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{'myprofile.label_address' | translate}}</ion-label>
        <ion-label class="ion-text-right">{{currentAppUser.address}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{'myprofile.label_phonenum' | translate}}</ion-label>
        <ion-label class="ion-text-right">{{currentAppUser.phone_number}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{'myprofile.label_whatsapp' | translate}}</ion-label>
        <ion-label class="ion-text-right">{{currentAppUser.whatsapp_number}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{'myprofile.label_country' | translate}}</ion-label>
        <ion-label class="ion-text-right">{{currentAppUser.country}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{'myprofile.label_address2' | translate}}</ion-label>
        <ion-label class="ion-text-right">{{currentAppUser.address2}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{'myprofile.label_city' | translate}}</ion-label>
        <ion-label class="ion-text-right">{{currentAppUser.city}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{'myprofile.label_state' | translate}}</ion-label>
        <ion-label class="ion-text-right">{{currentAppUser.state}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{'myprofile.label_pcode' | translate}}</ion-label>
        <ion-label class="ion-text-right">{{currentAppUser.postal_code}}</ion-label>
      </ion-item>

    </ion-list>

    <div class="btn_pf_edit">
      <ion-button (click)="goEditProfilePage()">
        {{ 'myprofile.btn_edit' | translate }}<ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </div>

  </div>

</ion-content>