.pf_container {
  padding: 10px;

  .btn_backpage {
    height: 40px;
    ion-back-button {
      float: left;
    }
  }

  .lbl_pf_title {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 20px;
    font-size: 17px;
    font-weight: bold;
  }

  .img_pf_photo {
    ion-img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      height: 200px;
    }
  }

  .lbl_pf_username {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
  }

  .lbl_pf_content {
    text-align: center;
    padding-top: 20px;
    font-size: 13px;
  }

  .lbl_pf_other {
    text-align: center;
    padding-top: 20px;
    font-size: 13px;
  }

  .btn_pf_edit {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    ion-button {
      width: 70%;
      height: 30px;
    }
  }
}
